<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/lenovo/IdeaProjects/UdayPatilMaven/src/test/java/testng/dataprovider/DataProviderByExcel.java">
       <parameter name="browerName" value="chrome"/>
        <classes>
            <class name="testng.dataprovider.DataProviderByExcel">
            <methods>
            </methods>
        </class>
        </classes>
    </test>
</suite>